.expense-form {
    background-color: #fff;
    padding: 10px;
    font-family: 'Roboto Slab', serif;

    display: flex;
    flex-direction: column;
    max-height: 500px;
}

input {
    font-family: 'Roboto Slab';
    font-size: 24px;
    line-height: 32px;
    margin: 10px;
    padding: 10px;
    max-width: 780px;
    width: 90%;

    &::placeholder {
        color: #ccc
    }
}

.expense-btn {
    border: 2px solid #000;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    margin-top: 30px;
    &:hover {
        background: #000;
        color: #fff;
    }
}

.heading {
    font-size: 32px;
    font-weight: 400;

}