@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');

.App {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.header {
    background: #000;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 20px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 20px;
}

.insights {
    background: #fff;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}